<!DOCTYPE html >
<html lang="en" dir="ltr">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>RingoJS Package Registry</title>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,600&amp;subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" media="screen, handheld" title="CSS Stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" type="text/css" media="screen, handheld" title="CSS Stylesheet" href="/css/main.css" />
    <link rel="stylesheet" type="text/css" media="screen, handheld" title="CSS Stylesheet" href="/css/github-readme.css" />
    <script type="text/javascript" src="/js/lib/require-min.js" data-main="/js/init"></script>
</head>
<body>

    <header>
        <nav class="navigation">
            <h1>
                <a href="http://ringojs.org/"><img src="/images/ringojs-logo.png" alt="RingoJS" title="Home" /></a>
            </h1>
            <ul>
                <li><a href="https://github.com/grob/rp/wiki/">Documentation</a></li>
            </ul>
        </nav>
    </header>

    <div class="main">
        <input id="search" type="text" placeholder="Search" />
        <div id="list">
            <ul id="result"></ul>
            <a id="loadmore" href="#">More packages&hellip;</a>
        </div>
    </div>

    <script id="tmpl-package" type="text/html">
        <div class="package-meta">
            <span class="version">{{ latest }}</span> ({{ modified | date("d. M. Y") }})
        </div>
        <h2>{{ name }}</h2>
        <p>{{ description }}</p>
        <div class="details"></div>
    </script>

    <script id="tmpl-details" type="text/html">
        <p>
            <ul class="keywords">
            {% for keyword in keywords %}
                <li>
                    <a href="/search/{{ keyword | url_encode }}">{{ keyword }}</a>
                </li>
            {% endfor %}
            </ul>
            <br style="clear:both"/>
        </p>

        <div class="detail-sidebar">
        <ul>
            <li>
            <a href="/download/{{ versions[0].filename }}">Download latest</a> ({{ versions[0].filesize | filesize }})
            </li>
            <li>
                {% if repositories|length > 0 %}
                <ul>
                {% for repo in repositories %}
                    <li><a href="{{ repo.url }}{{ repo.path }}">{{ repo.url }}{{ repo.path }}</a></li>
                {% endfor %}
                </ul>
                {% endif %}
            </li>
            {% if licenses|length > 0 %}
            <li>
                {% for license in licenses %}
                    <a href="{{ license.url }}">{{ license.type }}</a>,
                {% endfor %}

            </li>
            {% endif %}
            <li>
                <ul class="maintainers">
                {% for maintainer in maintainers %}
                    <li>
                        <img src="{{ maintainer.email|gravatar }}" alt="">
                        {% if maintainer.web %}
                            <a href="{{ maintainer.web }}">{{ maintainer.name }}</a>
                        {% else %}
                            {{ maintainer.name }}
                        {% endif %}
                    </li>
                {% endfor %}
                </ul>
            </li>
            <li>
                Dependencies:
                    <ul>
                    {% if dependencies|length > 0 %}
                        {% for spec in dependencies %}
                            <li><a href="/packages/{{ loop.key | url_encode }}">{{ loop.key }}</a> {{ spec }}</li>
                        {% endfor %}
                    {% else %}
                        <li>none</li>
                    {% endif %}
                    </ul>
            </li>
        </div>
        <div class="repo-readme">

        </div>
    </script>

    <script id="tmpl-versions" type="text/html">

    </script>
</body>
</html>